<link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- theme.libs.css.gitalk %>">
<link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- theme.libs.css.mygitalk %>">

<div class="card gitalk-card" data-aos="fade-up">
    <div id="gitalk-container" class="card-content"></div>
</div>

<script src="<%- theme.jsDelivr.url %><%- theme.libs.js.gitalk %>"></script>
<script>
    let gitalk = new Gitalk({
        clientID: '<%- theme.gitalk.oauth.clientId %>',
        clientSecret: '<%- theme.gitalk.oauth.clientSecret %>',
        repo: '<%- theme.gitalk.repo %>',
        owner: '<%- theme.gitalk.owner %>',
        admin: '<%- JSON.stringify(theme.gitalk.admin) %>',
        id: '<%- page.path %>',
        distractionFreeMode: false  // Facebook-like distraction free mode
    });

    gitalk.render('gitalk-container');
</script>